# Control Flow Assessment

This notebook contains **15 Python practice problems** focused on **if/elif/else statements, for loops, and lists**.

**Difficulty Distribution:**
- **4 Extremely Easy Questions** (Questions 1-4)
- **6 Intermediate Questions** (Questions 5-10)
- **5 Extremely Hard Questions** (Questions 11-15)

Each question includes:
- Function definition with correct return statements
- Clear explanation of what the function should return

In [ ]:
name = 'student name'
roll_number = 'student roll number'

### 1. Check if a number is even
**Return:** `True` if the number is even, `False` otherwise

In [ ]:
def is_even(n: int) -> bool:
    pass

### 2. Return the maximum of two numbers
**Return:** The larger of two numbers. If they are equal, return either.

In [ ]:
def max_of_two(a: int, b: int) -> int:
    pass

### 3. Count elements in a list
**Return:** The number of elements in the given list

In [ ]:
def count_elements(lst: list) -> int:
    pass

### 4. Return sum of all elements in a list
**Return:** The sum of all numbers in the list

In [ ]:
def sum_list(lst: list[int]) -> int:
    pass

### 5. Grade classifier based on marks
Given marks, return grade:
- 90 and above: 'A'
- 80-89: 'B'
- 70-79: 'C'
- 60-69: 'D'
- Below 60: 'F'

**Return:** A single character string representing the grade

In [ ]:
def classify_grade(marks: int) -> str:
    pass

### 6. Filter positive numbers from a list
**Return:** A new list containing only positive numbers from the input list
**Example:** Input `[-5, 3, -1, 7, 0, 2]` → Output `[3, 7, 2]`

In [ ]:
def filter_positive(lst: list[int]) -> list[int]:
    pass

### 7. Reverse a list using a loop
**Return:** A new list with elements in reverse order
**Example:** Input `[1, 2, 3, 4]` → Output `[4, 3, 2, 1]`

In [ ]:
def reverse_list(lst: list) -> list:
    pass

### 8. Find the maximum element in a list
**Return:** The largest number in the list
**Example:** Input `[3, 7, 2, 9, 1]` → Output `9`

In [ ]:
def find_max(lst: list[int]) -> int:
    pass

### 9. Count occurrences of a specific element in a list
**Return:** The number of times the element appears in the list
**Example:** Input `([1, 2, 3, 2, 4, 2], 2)` → Output `3`

In [ ]:
def count_occurrences(lst: list, element) -> int:
    pass

### 10. Create a multiplication table for a given number
**Return:** A list containing the first 10 multiples of the number
**Example:** Input `3` → Output `[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]`

In [ ]:
def multiplication_table(n: int) -> list[int]:
    pass

### 11. Find all prime numbers up to n using loops
A prime number is a number greater than 1 that has no positive divisors other than 1 and itself.
**Return:** A list of all prime numbers from 2 to n (inclusive)
**Example:** Input `10` → Output `[2, 3, 5, 7]`

In [ ]:
def find_primes(n: int) -> list[int]:
    pass

### 12. Find the second largest element in a list
**Return:** The second largest unique number in the list. If there is no second largest, return `None`
**Example:** Input `[10, 5, 8, 12, 3]` → Output `10`
**Note:** For `[5, 5, 3]`, the answer is `3` (unique values are considered)

In [ ]:
def second_largest(lst: list[int]) -> int:
    pass

### 13. Flatten a nested list (one level deep)
**Return:** A single flat list from a list of lists
**Example:** Input `[[1, 2], [3, 4], [5]]` → Output `[1, 2, 3, 4, 5]`

In [ ]:
def flatten_list(nested_lst: list[list]) -> list:
    pass

### 14. Find all pairs in a list that sum to a target value
**Return:** A list of tuples, where each tuple contains two numbers from the list that sum to the target
**Example:** Input `([1, 2, 3, 4, 5], 6)` → Output `[(1, 5), (2, 4)]`
**Note:** Each pair should appear only once and should not use the same element twice

In [ ]:
def find_pairs_with_sum(lst: list[int], target: int) -> list[tuple]:
    pass

### 15. Generate Pascal's Triangle up to n rows
Pascal's Triangle: Each number is the sum of the two numbers directly above it.
```
Row 1:     1
Row 2:    1 1
Row 3:   1 2 1
Row 4:  1 3 3 1
Row 5: 1 4 6 4 1
```
**Return:** A list of lists, where each inner list represents a row of Pascal's Triangle
**Example:** Input `5` → Output `[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]`

In [ ]:
def generate_pascals_triangle(n: int) -> list[list[int]]:
    pass