# Pandas Practice Questions (Instructor Solutions)

This notebook contains **20 comprehensive Python pandas practice problems** organized in two sections:

**Section A - Short Coding Questions (Questions 1-17):**
- Questions 1-12: Basic pandas operations (loading, selection, filtering, handling missing values)
- Questions 13-17: Short coding questions on duplicates, missing values, column creation, filtering, and statistics

**Section B - Applied Coding Questions (Questions 18-20):**
- Question 18: GroupBy with multiple aggregations
- Question 19: Advanced filtering and column creation
- Question 20: Handling missing values and outliers

Each question includes:
- Clear problem description
- Hints for solving
- Multiple-choice code options (where applicable)
- Instructor solution with inline examples
- Test cases using small DataFrames

In [2]:
import pandas as pd
import numpy as np
from io import StringIO

In [3]:
name = 'student name'
roll_number = 'student roll number'

### 1. Load a CSV string into a DataFrame
**Return:** A pandas DataFrame from the CSV string

**Choose the correct line:**
- (a) `return pd.read_excel(StringIO(csv_string))`
- (b) `return pd.read_csv(StringIO(csv_string))`
- (c) `return pd.DataFrame(csv_string.split('\n'))`
- (d) `return csv_string.to_dataframe()`

In [4]:
def load_csv_string(csv_string: str) -> pd.DataFrame:
    return pd.read_csv(StringIO(csv_string))

# Test data
csv_data = "name,age,score\nAlice,25,85\nBob,30,90\nCharlie,22,78"
# df = load_csv_string(csv_data)

In [5]:
# Assertions
csv_data = "name,age,score\nAlice,25,85\nBob,30,90\nCharlie,22,78"
df = load_csv_string(csv_data)
assert isinstance(df, pd.DataFrame)
assert list(df.columns) == ['name', 'age', 'score']
assert df.shape == (3, 3)

### 2. Get shape and column names
**Return:** A tuple of (number of rows, number of columns, list of column names)

**Choose the correct code:**
- (a) `return (df.size, df.ndim, df.columns)`
- (b) `return (df.shape[0], df.shape[1], list(df.columns))`
- (c) `return df.info()`
- (d) `return (len(df), len(df.index), df.to_list())`

In [6]:
def get_dataframe_info(df: pd.DataFrame) -> tuple:
    rows, cols = df.shape
    columns = list(df.columns)
    return (rows, cols, columns)

# get_dataframe_info(df)

In [7]:
# Assertions
csv_data = "x,y,z\n1,2,3\n4,5,6"
df = load_csv_string(csv_data)
rows, cols, columns = get_dataframe_info(df)
assert rows == 2
assert cols == 3
assert columns == ['x', 'y', 'z']

### 3. Get the first n rows of a DataFrame
**Return:** DataFrame containing first n rows

**Choose the correct code:**
- (a) `return df.iloc[:n]`
- (b) `return df.head(n)`
- (c) `return df.nlargest(n, axis=0)`
- (d) `return df[:n:1]`

In [8]:
def get_first_n_rows(df: pd.DataFrame, n: int) -> pd.DataFrame:
    return df.head(n)

# get_first_n_rows(df, 2)

In [9]:
# Assertions
csv_data = "a,b\n1,10\n2,20\n3,30\n4,40"
df = load_csv_string(csv_data)
first_two = get_first_n_rows(df, 2)
assert first_two.shape == (2, 2)
assert first_two['a'].tolist() == [1, 2]

### 4. Get basic statistics for numeric columns
**Return:** A pandas DataFrame with descriptive statistics (using .describe())

In [ ]:
def describe_numeric(df: pd.DataFrame) -> pd.DataFrame:
    return df.describe()

# describe_numeric(df)

In [ ]:
# Assertions
csv_data = "val1,val2\n10,100\n20,200\n30,300"
df = load_csv_string(csv_data)
stats = describe_numeric(df)
assert isinstance(stats, pd.DataFrame)
assert 'count' in stats.index
assert 'mean' in stats.index
assert 'std' in stats.index

### 5. Select a single column as a Series
**Return:** A pandas Series for the specified column

In [10]:
def select_column(df: pd.DataFrame, col_name: str) -> pd.Series:
    return df[col_name]

# select_column(df, 'age')

In [11]:
# Assertions
csv_data = "name,age\nAlice,25\nBob,30\nCharlie,22"
df = load_csv_string(csv_data)
age_series = select_column(df, 'age')
assert isinstance(age_series, pd.Series)
assert age_series.tolist() == [25, 30, 22]

### 6. Filter rows where a column value exceeds a threshold
**Return:** A DataFrame containing only rows where column > threshold

**Hint:** Use boolean indexing `df[df[col_name] > threshold]` and `.reset_index(drop=True)` to reset row indices.

**Choose the correct code:**
- (a) `return df.filter(column=col_name, value=threshold)`
- (b) `return df.loc[df[col_name] > threshold]`
- (c) `return df[df[col_name] > threshold].reset_index(drop=True)`
- (d) `return df.query(f'{col_name} > {threshold}')`

In [ ]:
def filter_by_threshold(df: pd.DataFrame, col_name: str, threshold: float) -> pd.DataFrame:
    return df[df[col_name] > threshold].reset_index(drop=True)

# filter_by_threshold(df, 'age', 25)

In [ ]:
# Assertions
csv_data = "name,score\nAlice,85\nBob,92\nCharlie,78\nDiana,88"
df = load_csv_string(csv_data)
filtered = filter_by_threshold(df, 'score', 80)
assert filtered.shape[0] == 3
assert filtered['score'].min() > 80

### 7. Count missing (NaN) values in each column
**Return:** A pandas Series with column names as index and count of NaN as values

**Hint:** Use `.isnull().sum()` to count missing values in each column.

In [ ]:
def count_missing_values(df: pd.DataFrame) -> pd.Series:
    return df.isnull().sum()

# count_missing_values(df)

In [ ]:
# Assertions
data = {'a': [1, 2, np.nan], 'b': [4, np.nan, np.nan], 'c': [7, 8, 9]}
df = pd.DataFrame(data)
missing = count_missing_values(df)
assert missing['a'] == 1
assert missing['b'] == 2
assert missing['c'] == 0

### 8. Drop rows containing any NaN values
**Return:** A DataFrame with all rows containing NaN removed

**Hint:** Use `.dropna()` to remove rows with missing values, then `.reset_index(drop=True)` to renumber rows.

In [ ]:
def drop_rows_with_nan(df: pd.DataFrame) -> pd.DataFrame:
    return df.dropna().reset_index(drop=True)

# drop_rows_with_nan(df)

In [ ]:
# Assertions
data = {'x': [1, 2, np.nan], 'y': [10, np.nan, 30]}
df = pd.DataFrame(data)
clean_df = drop_rows_with_nan(df)
assert clean_df.shape[0] == 1
assert clean_df['x'].iloc[0] == 1
assert clean_df['y'].iloc[0] == 10

### 9. Fill missing values with the mean of the column
**Return:** A DataFrame where NaN values in numeric columns are replaced by column mean

**Hint:** Get numeric columns using `.select_dtypes()`, then use `.fillna()` with the column mean.

In [ ]:
def fill_missing_with_mean(df: pd.DataFrame) -> pd.DataFrame:
    df_copy = df.copy()
    numeric_cols = df_copy.select_dtypes(include=[np.number]).columns
    for col in numeric_cols:
        df_copy[col].fillna(df_copy[col].mean(), inplace=True)
    return df_copy

# data = {'val': [10, 20, np.nan, 30]}
# df = pd.DataFrame(data)
# fill_missing_with_mean(df)

In [ ]:
# Assertions
data = {'val': [10, 20, np.nan, 30]}
df = pd.DataFrame(data)
filled = fill_missing_with_mean(df)
assert filled['val'].isnull().sum() == 0
assert filled['val'].iloc[2] == 20

### 10. Group by a column and calculate the mean of another column
**Return:** A DataFrame with grouped results (group column and mean)

**Hint:** Use `.groupby(group_col)[agg_col].mean()` and `.reset_index()` to convert to DataFrame.

In [ ]:
def group_by_mean(df: pd.DataFrame, group_col: str, agg_col: str) -> pd.DataFrame:
    result = df.groupby(group_col)[agg_col].mean().reset_index()
    return result

# data = {'category': ['A', 'B', 'A', 'B'], 'value': [10, 20, 30, 40]}
# df = pd.DataFrame(data)
# group_by_mean(df, 'category', 'value')

In [14]:
# Assertions
data = {'category': ['A', 'B', 'A', 'B'], 'value': [10, 20, 30, 40]}
df = pd.DataFrame(data)
grouped = group_by_mean(df, 'category', 'value')
assert grouped.shape[0] == 2
assert grouped.loc[grouped['category'] == 'A', 'value'].iloc[0] == 20
assert grouped.loc[grouped['category'] == 'B', 'value'].iloc[0] == 30

### 11. Merge two DataFrames on a common column
**Return:** A merged DataFrame (inner join on the specified key)

**Choose the correct code:**
- (a) `return left.join(right, on=on)`
- (b) `return pd.concat([left, right])`
- (c) `return pd.merge(left, right, on=on, how='inner')`
- (d) `return left.combine(right)`

In [15]:
def merge_dataframes(left: pd.DataFrame, right: pd.DataFrame, on: str) -> pd.DataFrame:
    return pd.merge(left, right, on=on, how='inner')

# merge_dataframes(left_df, right_df, 'id')

In [16]:
# Assertions
left = pd.DataFrame({'id': [1, 2, 3], 'value_left': [10, 20, 30]})
right = pd.DataFrame({'id': [2, 3, 4], 'value_right': [200, 300, 400]})
merged = merge_dataframes(left, right, 'id')
assert merged.shape[0] == 2
assert set(merged.columns) == {'id', 'value_left', 'value_right'}

### 12. Convert a column to datetime format
**Return:** A DataFrame where the specified column has been converted to datetime

**Choose the correct code:**
- (a) `df_copy[col_name] = df_copy[col_name].astype(datetime)`
- (b) `df_copy[col_name] = pd.to_datetime(df_copy[col_name])`
- (c) `df_copy[col_name].convert_to_datetime()`
- (d) `df_copy[col_name] = datetime.strptime(df_copy[col_name], '%Y-%m-%d')`

In [ ]:
def convert_to_datetime(df: pd.DataFrame, col_name: str) -> pd.DataFrame:
    df_copy = df.copy()
    df_copy[col_name] = pd.to_datetime(df_copy[col_name])
    return df_copy

# convert_to_datetime(df, 'date_column')

In [ ]:
# Assertions
data = {'date': ['2023-01-15', '2023-02-20', '2023-03-25']}
df = pd.DataFrame(data)
converted = convert_to_datetime(df, 'date')
assert pd.api.types.is_datetime64_any_dtype(converted['date'])
assert converted['date'].iloc[0].year == 2023
assert converted['date'].iloc[0].month == 1

### 13. Drop Duplicate Rows
You have a DataFrame with duplicate rows. The command `drop_duplicates` on subset of columns named `['Name', 'Team']` is to be used.

In [17]:
def drop_duplicates_by_cols(df: pd.DataFrame) -> pd.DataFrame:
    """Remove duplicate rows based on Name and Team columns."""
    return df.drop_duplicates(subset=['Name', 'Team'])

# Example
sample_df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Alice', 'Charlie'],
    'Team': ['X', 'Y', 'X', 'Z'],
    'Salary': [50000, 55000, 50000, 60000]
})
# result = drop_duplicates_by_cols(sample_df)

In [18]:
# Assertions
sample_df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Alice', 'Charlie'],
    'Team': ['X', 'Y', 'X', 'Z'],
    'Salary': [50000, 55000, 50000, 60000]
})
result = drop_duplicates_by_cols(sample_df)
assert result.shape[0] == 3  # One duplicate removed
assert list(result['Name']) == ['Alice', 'Bob', 'Charlie']

### 14. Fill Missing Values in a Column
Write a Python command to fill all missing values in the column 'College' with the text 'Unknown'.

In [ ]:
def fill_missing_college(df: pd.DataFrame) -> pd.DataFrame:
    """Fill missing values in College column with 'Unknown'."""
    df_copy = df.copy()
    df_copy['College'] = df_copy['College'].fillna('Unknown')
    return df_copy

# Example
sample_df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'College': ['IIT', None, 'NIT']
})
# result = fill_missing_college(sample_df)

In [ ]:
# Assertions
sample_df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'College': ['IIT', None, 'NIT']
})
result = fill_missing_college(sample_df)
assert result['College'].isnull().sum() == 0
assert result['College'].tolist() == ['IIT', 'Unknown', 'NIT']

### 15. Create New Column with Percentage Increase
Given a DataFrame df with a 'Salary' column, write code to increase salary by 5% and store it in a new column 'UpdatedSalary'.

**Hint:** Multiply the Salary column by 1.05 to increase by 5%.

**Choose the correct code:**
- (a) `df['UpdatedSalary'] = df['Salary'] * 5`
- (b) `df['UpdatedSalary'] = df['Salary'] * 1.05`
- (c) `df['UpdatedSalary'] = df['Salary'] + 0.05`
- (d) `df['UpdatedSalary'] = df['Salary'].apply(lambda x: x * 5)`

In [ ]:
def add_updated_salary(df: pd.DataFrame) -> pd.DataFrame:
    """Create UpdatedSalary column with 5% increase."""
    df_copy = df.copy()
    df_copy['UpdatedSalary'] = df_copy['Salary'] * 1.05
    return df_copy

# Example
sample_df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Salary': [50000, 55000, 60000]
})
# result = add_updated_salary(sample_df)

In [ ]:
# Assertions
sample_df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Salary': [50000, 55000, 60000]
})
result = add_updated_salary(sample_df)
assert 'UpdatedSalary' in result.columns
assert result['UpdatedSalary'].iloc[0] == 52500
assert result['UpdatedSalary'].iloc[1] == 57750

### 16. Filter Rows with Range Condition
Write Python code to select rows where 'Profit' is between 30 and 55 (inclusive).

**Hint:** Use boolean indexing with AND operator `&`.

In [ ]:
def filter_profit_range(df: pd.DataFrame) -> pd.DataFrame:
    """Filter rows where Profit is between 30 and 55 inclusive."""
    return df[(df['Profit'] >= 30) & (df['Profit'] <= 55)].reset_index(drop=True)

# Example
sample_df = pd.DataFrame({
    'Name': ['A', 'B', 'C', 'D'],
    'Profit': [25, 40, 60, 35]
})
# result = filter_profit_range(sample_df)

In [ ]:
# Assertions
sample_df = pd.DataFrame({
    'Name': ['A', 'B', 'C', 'D'],
    'Profit': [25, 40, 60, 35]
})
result = filter_profit_range(sample_df)
assert result.shape[0] == 2
assert list(result['Name']) == ['B', 'D']
assert all((result['Profit'] >= 30) & (result['Profit'] <= 55))

### 17. Get Summary Statistics
Write a Python command to show summary statistics (mean, median, std, min, max, etc.) for the entire DataFrame.

In [ ]:
def get_summary_stats(df: pd.DataFrame) -> pd.DataFrame:
    """Return summary statistics for numeric columns."""
    return df.describe()

# Example
sample_df = pd.DataFrame({
    'Age': [25, 30, 28, 35],
    'Salary': [50000, 55000, 52000, 60000]
})
# stats = get_summary_stats(sample_df)

In [ ]:
# Assertions
sample_df = pd.DataFrame({
    'Age': [25, 30, 28, 35],
    'Salary': [50000, 55000, 52000, 60000]
})
stats = get_summary_stats(sample_df)
assert isinstance(stats, pd.DataFrame)
assert 'mean' in stats.index
assert 'std' in stats.index
assert stats.loc['count', 'Age'] == 4

### 18. GroupBy with Multiple Aggregations
You have a DataFrame with columns: Name, Team, Salary, Profit

Write Python code to:
1. Group the data by Team
2. aggregate average salary and total profit for each team
3. return the result

**Hint:** Use `.groupby()` with `.agg()` for multiple aggregations.

**Choose the correct code:**
- (a) `df.groupby('Team').agg({'Salary': 'mean', 'Profit': 'sum'})`
- (b) `df.groupby('Team')[['Salary', 'Profit']].agg(['mean', 'sum'])`
- (c) `df.group('Team').apply(lambda x: {'avg_salary': x['Salary'].mean(), 'total_profit': x['Profit'].sum()})`

In [ ]:
def groupby_team_agg(df: pd.DataFrame) -> pd.DataFrame:
    """Group by Team and calculate average Salary and total Profit."""
    result = df.groupby('Team').agg({
        'Salary': 'mean',
        'Profit': 'sum'
    }).reset_index()
    result.columns = ['Team', 'AvgSalary', 'TotalProfit']
    return result

# Example
sample_df = pd.DataFrame({
    'Name': ['A', 'B', 'C', 'D'],
    'Team': ['X', 'X', 'Y', 'Y'],
    'Salary': [50000, 55000, 52000, 53000],
    'Profit': [45, 30, 60, 25]
})
# result = groupby_team_agg(sample_df)

In [ ]:
# Assertions
sample_df = pd.DataFrame({
    'Name': ['A', 'B', 'C', 'D'],
    'Team': ['X', 'X', 'Y', 'Y'],
    'Salary': [50000, 55000, 52000, 53000],
    'Profit': [45, 30, 60, 25]
})
result = groupby_team_agg(sample_df)
assert result.shape[0] == 2
assert 'AvgSalary' in result.columns
assert result.loc[result['Team'] == 'X', 'AvgSalary'].iloc[0] == 52500
assert result.loc[result['Team'] == 'X', 'TotalProfit'].iloc[0] == 75

### 19. Advanced Filtering and Column Creation
Given a DataFrame with columns: Name, Score1, Score2

Write Python code to:
1. Select only rows where Score1 > 40 AND Score2 > 50
2. Create a new column AverageScore = mean of Score1 and Score2
3. return dataframe with only the  `[['Name', 'AverageScore']]`
**Hint:** Filter first using boolean indexing, then add the new column, then select specific columns.

In [ ]:
def advanced_filter_and_create(df: pd.DataFrame) -> pd.DataFrame:
    """Filter rows and create average score column, return Name and AverageScore."""
    df_copy = df.copy()
    # Filter rows where Score1 > 40 AND Score2 > 50
    df_filtered = df_copy[(df_copy['Score1'] > 40) & (df_copy['Score2'] > 50)]
    # Create AverageScore column
    df_filtered['AverageScore'] = (df_filtered['Score1'] + df_filtered['Score2']) / 2
    # Select only Name and AverageScore
    result = df_filtered[['Name', 'AverageScore']].reset_index(drop=True)
    return result

# Example
sample_df = pd.DataFrame({
    'Name': ['A', 'B', 'C', 'D'],
    'Score1': [40, 55, 70, 30],
    'Score2': [50, 65, 75, 35]
})
# result = advanced_filter_and_create(sample_df)

In [ ]:
# Assertions
sample_df = pd.DataFrame({
    'Name': ['A', 'B', 'C', 'D'],
    'Score1': [40, 55, 70, 30],
    'Score2': [50, 65, 75, 35]
})
result = advanced_filter_and_create(sample_df)
assert result.shape[0] == 2  # Only B and C qualify
assert list(result['Name']) == ['B', 'C']
assert result['AverageScore'].iloc[0] == 60  # (55+65)/2
assert result['AverageScore'].iloc[1] == 72.5  # (70+75)/2

### 20. Handle Missing Values and Outliers
You have a DataFrame with an 'Age' column containing missing values and outliers (Age > 100).

Write Python code to:
1. Replace missing values with the median age
2. Remove rows where Age > 100
3. Return the cleaned DataFrame

**Hint:** Use `.fillna()` with median, then filter with boolean indexing.

In [ ]:
def clean_age_data(df: pd.DataFrame) -> pd.DataFrame:
    """Replace missing Age values with median, remove Age > 100."""
    df_copy = df.copy()
    # Replace missing values with median age
    median_age = df_copy['Age'].median()
    df_copy['Age'] = df_copy['Age'].fillna(median_age)
    # Remove rows where Age > 100
    df_clean = df_copy[df_copy['Age'] <= 100].reset_index(drop=True)
    return df_clean

# Example
sample_df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Age': [25, np.nan, 105, 30, np.nan]
})
# result = clean_age_data(sample_df)

In [ ]:
# Assertions
sample_df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Age': [25, np.nan, 105, 30, np.nan]
})
result = clean_age_data(sample_df)
assert result['Age'].isnull().sum() == 0  # No missing values
assert (result['Age'] <= 100).all()  # No outliers
assert result.shape[0] == 4  # Charlie (105) removed
assert list(result['Name']) == ['Alice', 'Bob', 'Diana', 'Eve']